.responsive {
  width: 100%;
  background: #fff;
}

@media screen and (min-width: 769px) {
  .responsive {
    max-width: 768px;
    margin: 0 auto;
    padding: 6rem 0;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  }
}
